:root {
  --bg-primary: #2196f3;
  --bg-primary-dark: #1e88e5;

  --text-white: #fff;
  --text-muted: #4b4b4b;
  --text-error: #c3372d;
  --text-black: #000;
  --text-inactive: rgb(255 255 255 / 0.7);

  --heart-default: #f24e1e;
  --heart-active: #ff3a00;

  --shadow-header: 0 0.4rem 0.4rem rgb(0 0 0 / 0.24);
  --shadow-card-primary: 0 0.9rem 1.8rem #0000002e;
  --shadow-card-secondary: 0 0.6rem 0.5rem #0000003d;

  --font-sm: 1.4rem;
  --line-sm: 2.1rem;

  --transition: 0.2s ease;
}
