.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 6.4rem;
  padding: 0 5rem;

  background-color: var(--color-bg);
  box-shadow: var(--shadow-header);
}

.nav {
  height: 100%;
}

.list {
  display: flex;

  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: flex;
  height: 100%;
}
